/******* スポンサーロゴ画像 *********/
.sponsorLogo {
    width: 100%;
}

/*******iPhone4用スポンサーlogoリサイズ*******/
@media (max-width: 320px) {
    .sponsorLogo {
        width: 250px;
    }
}
/*******画像リンク********/
/***** iPhone6 plus より大きい場合 ******/
@media (min-width: 415px) {
    #sponsor .sponsorLink {
        text-decoration: none;
        display: inline-block;
        letter-spacing: -.40em; /* 文字間を詰めて隙間を削除する */
        width: 45%;
        padding: 15px 0px;
        border-left: 1.7px #F6F6F6 ridge;
    }
}
/***** iPhone6 plus より小さい場合 ******/
@media (max-width: 414px) {
    #sponsor .sponsorLink {
        text-decoration: none;
        display: inline-block;
        letter-spacing: -.40em; /* 文字間を詰めて隙間を削除する */
        width: 80%;
        padding: 15px 0px;
        /*border-left: 1.7px #F6F6F6 ridge;*/
    }
}
/********フッターのLink*******/
.footer-text>a {
    text-decoration: none;
}

/********** hashtag link *********/
a.hashtag {
    text-decoration: none;
}

/******** twitter-widgetを横幅100%に *********/
.twitter-timeline{
    max-width: 100% !important;
    width:100% !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.twitter-account {
    text-decoration: none;
}
