/******* スポンサーロゴ画像 *********/
.sponsorLogo {
    width: 100%;
}
/*******画像リンク********/
/***** iPhone6 plus より大きい場合 ******/
@media (min-width: 415px) {
    #sponsor .sponsorLink {
        text-decoration: none;
        display: inline-block;
        letter-spacing: -.40em; /* 文字間を詰めて隙間を削除する */
        width: 45%;
        padding: 15px 0px;
        border: 1.7px #F6F6F6 ridge;
    }
}
/***** iPhone6 plus より小さい場合 ******/
@media (max-width: 414px) {
    #sponsor .sponsorLink {
        text-decoration: none;
        display: inline-block;
        letter-spacing: -.40em; /* 文字間を詰めて隙間を削除する */
        width: 100%;
        padding: 15px 0px;
    }
}
/********フッターのLink*******/
.footer-text>a {
    text-decoration: none;
}

/********** hashtag link *********/
a.hashtag {
    text-decoration: none;
}

/******** twitter-widgetを横幅100%に *********/
.twitter-timeline{
    max-width: 100% !important;
    width:100% !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.twitter-account {
    text-decoration: none;
}

a {
    color: #0084b4;
}

.footer-impath{
    width: 140px;
    margin-bottom: 8px;
}
