.sponsor-logo {
    width: 100%;
}
/*
 screen size > iPhone6 plus size
*/
@media (min-width: 415px) {
    #sponsor .sponsor-link {
        text-decoration: none;
        display: inline-block;
        letter-spacing: -.40em;
        margin-top: 0.4em;
        width: 45%;
        padding: 15px 0px;
        border: 1.7px #F6F6F6 ridge;
    }
    #pagetopbtn {
        display: none;
    }
}
/*
 screen size < iPhone6 plus size
*/
@media (max-width: 414px) {
    #sponsor .sponsor-link {
        text-decoration: none;
        display: inline-block;
        letter-spacing: -.40em;
        width: 100%;
        margin-top: 0.4em;
        padding: 15px 0px;
    }
}

.footer-text > a {
    text-decoration: none;
}

a.hashtag {
    text-decoration: none;
}

.twitter-timeline {
    max-width: 100% !important;
    width: 100% !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.twitter-account {
    text-decoration: none;
}

#pagetopbtn {
    text-align: center;
}

a {
    color: #0084b4;
}

.footer-impath {
    width: 140px;
    margin-bottom: 8px;
}
